<!-- Actions -->
<div class="recipe-show-actions">
  <div class="recipe-show-actions__primary">
    <%= form_with url: cook_recipe_path(@recipe), method: :post, local: true, class: "recipe-show-cook-form" do |f| %>
      <%= f.submit t("recipes.show.cook_button"), class: "recipe-show-cook-button" %>

      <p class="recipe-show-cook-hint"><%= t("recipes.show.cook_hint") %></p>
    <% end %>
  </div>
</div>
