<div class="recipe-show-container">
  <%= link_to t("recipes.show.back_to_recipes"), recipes_path, class: "recipe-show-back-link" %>

  <div class="recipe-show-card">
    <%= render "header" %>
    <%= render "ingredients" %>
    <%= render "actions" %>
  </div>
</div>
