service: recipe_app

image: annabozio/recipe_app

servers:
  web:
    - 51.75.28.226

registry:
  server: https://index.docker.io/v1/
  username: <%= ENV["DOCKERHUB_USERNAME"] %>
  password: <%= ENV["DOCKERHUB_PASSWORD"] %>

env:
  clear:
    RAILS_ENV: production
  secret:
    - RAILS_MASTER_KEY
    - DATABASE_URL


builder:
  context: .
  arch: amd64