service: recipe_app

image: anietchka/recipe_app

servers:
  web:
    - 51.75.28.226

registry:
  server: registry-1.docker.io
  username: <%= ENV["DOCKERHUB_USERNAME"] %>
  password: <%= ENV["DOCKERHUB_PASSWORD"] %>

env:
  clear:
    RAILS_ENV: production
  secret:
    - RAILS_MASTER_KEY
    - DATABASE_URL
  # DATABASE_URL will be set from .kamal/secrets if defined, otherwise use fallback in database.yml

builder:
  context: .
  arch: amd64

# Proxy configuration (Traefik)
proxy:
  host: recipes.bozio.fr
  ssl:
    lets_encrypt:
      email: anna.bozio@gmail.com  # Replace with your email
    redirect_http: true  # Automatically redirect HTTP to HTTPS