<h1><%= t(".title") %></h1>

<div class="actions-header">
  <button type="button" class="btn" onclick="openModal()">
    <%= t(".add_ingredient_button") %>
  </button>
</div>

<%= render "form" %>
<%= render "list" %>
